# Environment & Secrets
.env
.env.*
!.env.example
ml-service/mosdac/config.json
!ml-service/mosdac/config.example.json

# Satellite Data & Download Logs
data/raw/
error_logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv
venv/
ENV/

# Streamlit secrets
.streamlit/secrets.toml

# IDEs & System
.vscode/
.idea/
.DS_Store

frontend/node_modules
backend/node_modules